<!-- 
  <div class="navbar navbar-expand-md navbar-dark ">
  <div class="container">
    <a href="#" class="navbar-brand">Movie App </a>
    <ul class="navbar-nav  me-auto">

      <li class="nav-item">
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>

          <ul class="menu__box">
            <li><a class="menu__item" href="#">Dergilik</a></li>
            <li><a class="menu__item" href="/series">Seriler</a></li>
            <li><a class="menu__item" href="#">İletişim</a></li>
            <li><a class="menu__item" href="/login">Hakkımızda</a></li>
            <li><a class="menu__item" href="#">Son Sayı</a></li>
          </ul>
        </div>
      </li>
    </ul>
      <ul class="navbar-nav justify-content-end  me-auto">
      <li class="nav-item">
        <a href="#" class="nav-link  ">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link  ">Movies</a>
      </li>
    </ul>
  </div>
</div> -->

<div class="row">
  <ul class="nav justify-content-center col">
    <div class="navbar navbar-expand-md navbar-dark ">
      
          <!-- Hamburger Menu  -->
      <li class="nav-item">

        
  
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>

          <ul class="menu__box">
            <li><a class="menu__item" href="#">Dergilik</a></li>
            <li><a class="menu__item" href="/series">Seriler</a></li>
            <li><a class="menu__item" href="#">İletişim</a></li>
            <li><a class="menu__item" href="/login">Hakkımızda</a></li>
            <li><a class="menu__item" href="#">Son Sayı</a></li>
          </ul>
        </div>
      </li>

      <!-- Hamburger Menu  -->
      <div class="container">
        <a href="#" class="navbar-brand">Profil </a>
    
        
      </div>
    </div>



  </ul>
  <ul class="nav justify-content-center col">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <img src="assets/img/YeniSayi.png" width="100" height="100" class="img rounded-start" alt="...">

      </a>
    </li>
  </ul>
</div>